.img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #7e7c7c;
  box-shadow: 0 -4px 10px rgba(255, 255, 255, 0.2),
    0 4px 10px rgba(255, 255, 255, 0.2);
}
